fastapi
uvicorn
sqlalchemy
psycopg2-binary==2.9.9
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
python-dotenv
pydantic[email]
Pillow
emails
aiofiles
jinja2
httpx
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
supabase
pytz
tiktoken
google-genai
pgvector
numpy
redis
celery
prometheus-client
sentry-sdk[fastapi]
psutil
schedule
bleach
alembic